// Place all the styles related to the GamesController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background-image: linear-gradient(to right bottom, #f6f4ef, #f8f6f2, #f9f9f5, #fbfbf8, #fdfdfb);
  // background-color: #fafafa;;
    // font-family: 'Open Sans', sans-serif;
}
ul {
  list-style-type: none;
}
h1 {
  font-family: 'Amatic SC', cursive;
  font-style: italic;
  font-size: 80px;
  opacity: O.9;
  // letter-spacing: ;
  color: #D1AE0F;
}

p{
  font-family: 'Open Sans', sans-serif;
  margin-top: 100px;
  font-size: 15px;
  text-align: center;
  color: #444239;
}
form {
  text-align: center
}
.lettrine {
  color: #444239;
  display: inline-block;
  background-size: 80px;
  margin-right: 10px;
  padding: 20px;
  border: solid;
  border-width: thin;
  border-color: #F0EDE2;

  font-size: 80px;
  text-shadow: 1px 1px rgba(187,187,187, 0.30), 2px 2px rgba(187,187,187, 0.25), 3px 3px rgba(187,187,187, 0.21), 4px 4px rgba(187,187,187, 0.19), 5px 5px rgba(187,187,187, 0.17), 6px 6px rgba(187,187,187, 0.16), 7px 7px rgba(187,187,187, 0.14), 8px 8px rgba(187,187,187, 0.13), 9px 9px rgba(187,187,187, 0.12), 10px 10px rgba(187,187,187, 0.11), 11px 11px rgba(187,187,187, 0.10), 12px 12px rgba(187,187,187, 0.10), 13px 13px rgba(187,187,187, 0.09), 14px 14px rgba(187,187,187, 0.08), 15px 15px rgba(187,187,187, 0.08), 16px 16px rgba(187,187,187, 0.07), 17px 17px rgba(187,187,187, 0.07), 18px 18px rgba(187,187,187, 0.06), 19px 19px rgba(187,187,187, 0.05), 20px 20px rgba(187,187,187, 0.05), 21px 21px rgba(187,187,187, 0.05), 22px 22px rgba(187,187,187, 0.04), 23px 23px rgba(187,187,187, 0.04), 24px 24px rgba(187,187,187, 0.03), 25px 25px rgba(187,187,187, 0.03), 26px 26px rgba(187,187,187, 0.02), 27px 27px rgba(187,187,187, 0.02), 28px 28px rgba(187,187,187, 0.02), 29px 29px rgba(187,187,187, 0.01), 30px 30px rgba(187,187,187, 0.01), 31px 31px rgba(187,187,187, 0.01), 32px 32px rgba(187,187,187, 0.00);


}
